@import "utils/colors";

.product-table {
    margin-top: 1rem;
    background-color: $color-gray-lightest;
    color: $color-text;
    border: 2px solid $color-gray-dark;
    text-align: center;

    .table-header {
      background-color: $color-gray;
      color: $color-text-lightest;
    }

    tr, td {
      border: 1px solid $color-gray-dark;
    }
}
