<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-product-filters></app-product-filters>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-8">
      <app-products></app-products>
    </div>
    <div class="col-md-6 col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <app-product-form></app-product-form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <app-products-cart></app-products-cart>
        </div>
      </div>
    </div>
  </div>
</div>
