//MAIN THEM
$color-gray-dark: #444;
$color-gray: #777;
$color-gray-light: #ccc;
$color-gray-lightest: #ddd;
$color-main-bg: $color-gray-light;
$color-primary: #4a76a8;
$color-primary-hover: #3d6898;
$color-primary-active: $color-primary-hover;
$color-theme-dark: #224b7a;

$color-light-lightest: #fff;
$color-light-light: #ddd;

//TEXT
$color-text: $color-gray;
$color-text-light: $color-gray-light;
$color-text-lightest: $color-light-lightest;
$color-text-dark: $color-gray-dark;

//SHADOW

$color-shadow: rgba(0, 0, 0, 0.75)
